<?xml version="1.0" encoding="utf-8" ?>
<!-- XSD manual extracted from package NLog.Schema: https://www.nuget.org/packages/NLog.Schema-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xsi:schemaLocation="NLog NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true" >

  <targets  async="true">

    <target xsi:type="File" name="LogFile"
           layout="${longdate}[${threadid}]${level:uppercase=true} ${logger} ${ndlc} ${mdlc:item=MessageId} ${message} ${exception:format=tostring}"
           fileName="logs/${processname}.log"
           archiveFileName="logs/${date:format=yyyyMMdd}-${processname}.{##}.log" archiveAboveSize="157286400"  archiveEvery="Day" archiveNumbering="Sequence" maxArchiveFiles="50" concurrentWrites="false" keepFileOpen="true" />

    <target xsi:type="ColoredConsole" name="Console"
            layout="${longdate}[${threadid}]${level:uppercase=true} ${logger} ${ndlc} ${mdlc:item=MessageId} ${message} ${exception:format=tostring}" useDefaultRowHighlightingRules="false" >
      <highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGray" />
      <highlight-row condition="level == LogLevel.Info" foregroundColor="Gray" />
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
      <highlight-row condition="level == LogLevel.Fatal" foregroundColor="White" backgroundColor="Red" />
    </target>

    <target xsi:type="Null" name="BlackHole" formatMessage="false"  />

  </targets>

  <rules>
    <logger name="Microsoft*" minlevel="Trace" writeTo="BlackHole" final="true" />
    <logger name="McMaster*" minlevel="Trace" writeTo="BlackHole" final="true" />
    <logger name="*" minlevel="Trace" writeTo="logFile" />
    <logger name="*" minlevel="Trace" writeTo="console" />
  </rules>
</nlog>